.upload_container{
    margin: 10px;
}
#preview{
    margin: 10px;
    border-radius: 15px;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.upload_top{
    margin: 30px;
}
.upload_text{
    font-weight: bold;
}
.custom_file_upload{
    padding: 10px 25px;
    background-color:#007bff;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
   
}
.custom_file_upload:hover{
    background-color: #0056b3;
}

.picBox{
    padding: 10px;
    padding-bottom: 30px;
}

.anly_container{
    margin-left: 35%;
    margin-right: 35%;
}
.analyzing{
    background: linear-gradient(90deg,rgb(0, 0, 66), rgba(0, 8, 51, 0.397));
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

